* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
nav {
    position: fixed;
    text-align: center;
    width: 15%;
    height: 100vh;
    float: left;
    background-color: #390038;
    ul {
        list-style: none;
    }
   li a {
    line-height: 10vh;
    color: white;
    text-decoration: none;
   }
   li a:hover {
       color: purple;
    font-weight: bold;
   }
   li:hover {
       background-color: #180217;
   }
}

.logo {
    width: 100px;
}

#content {
    width: 87%;
    float: right;
}

$lighttext: lighter;
$italicfont: italic;
$sectionmargin: 8vh;

#content_header {
    padding: 4% 2%;
    display: flex;
    height: 68vh;
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size:1.5rem;
        font-style: $italicfont;
        font-weight: $lighttext;
    }
    h3 {
        margin-top: 2.5vh;
        font-weight: $lighttext;
        font-style: $italicfont;
        font-size: .8rem;
    }
    .headshot {
        background: no-repeat url('/img/photo.jpg');
        background-size: cover;
        width: 300px;
        height: 300px;
        margin: auto;
        border-radius: 50%;
    }
}

.content_intro {
    text-align: center;
    width: 125vw;
}

#WhoAmI {
    border-radius: 8px;
    background-color: #dbd9e8;
    padding: 4%;
    h1 {
        font-weight: 100;
    }
}

#animated {
    height: 30vh;
    font-size: 2rem;
    // font-style: $italicfont;
    text-align: center;
    padding: 11%;
    color:white;
}

span{
    transition: all 0.4s ease;
}

span.fade {
  color:black
}

#community {
    width: 100%;
    padding: 2% 4%;
    background: #180217;
    color: white;
    h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3vh;
    }
    h3 {
        font-size: 1rem;
        font-weight: $lighttext;
        font-style: $italicfont;
    }
    img {
        width: 200px;
    }
}

.community_content {
    display: flex;
}

.community_content_paragraph {
    width: 50%;
    padding: 0% 2%;
}

.community_content_image {
    width:500px;
    height: 500px;
    background: url('/img/eventphoto1.jpg');
    background-size: cover;
    background-position: center;
    margin: 5% auto;
    animation: slide 30s infinite;
  }

  @keyframes slide{
    50% {
      background: url('/img/eventphot2.jpg');
      background-size: cover;
    }
    50% {
      background: url('/img/eventphoto3.jpg');
      background-size: cover;
    }
    75% {
      background: url('/img/eventphoto4.jpg');
      background-size: cover;
    }
   100% {
      background: url('/img/Event.jpeg');
      background-size: cover;
    }
  }


#projectsection{
// margin-top: $sectionmargin;
z-index: -1;
background: url('/img/background2.jpg');
background-size: cover;
#projectsection_header {
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}
}

.project {
    z-index: 100;
    text-align: center;
    margin: 0 .5%;
    padding: 1%;
    border-radius: 8px;
    background: white;
    box-shadow: 5px 10px 10px 3px #3c3c3c;
    cursor: pointer;
}

.project:hover {
    background: black;
    color: white;
}

#Projects {
    padding: 4% 0;
    display: flex;
    justify-content: center;
    img {
        width: 250px;
        height: 134.45px;
    }
}

#Projects2 {
    padding: 4% 0;
    display: flex;
    justify-content: center;
    img {
        width: 250px;
        height: 134.45px;
    }
}

#Resume {
    text-align: center;
    margin: $sectionmargin 0;
    font-size: 1rem;
    img {
        margin-top: 2vh;
        width: 500px;
        border: 1px solid rgba(161, 161, 161, 0.384);
        box-shadow: 3px 3px 5px lightgray;
    }
}

#contact {
    height: 40vh;
    background-color: #dbd9e8;
    text-align: center;
    padding: 10%;
    h1 {
        margin: auto;
        color: white;
        text-shadow: 2px 2px 2px black;
        font-size: 1.5em;
    }
}

#contactbtn, #downloadbtn {
font-weight: bold;
color: white;
background-color: #9f9bb9;
padding: 8px;
border: 1px solid #9f9bb9;
border-radius: 8px;
cursor: pointer;
}

#contactbtn:hover, #downloadbtn:hover {
    background-color: #180217;
    font-weight: bold;
}

footer {
    background-color: #180217;
    float: right;
    width: 85%;
.footerlist{
    text-align: center;
}
    .footerlist a {
        color: white;
    }
    img {
        width: 75px;
    }
    img:hover {
        transition: ease-in-out;
        background-color: #390038;
    }
}

.backtop {
    bottom: 140px;
    left: 30px;
    z-index: 103;
    border: 1px solid black;
    width: 30px;
    height: 40px;
    background-color: white;
    position: relative;
}