@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #171717;
  --magenta: #7e1946;
  --font_main: 'Encode Sans Condensed', sans-serif;
  --font_secondary: sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #ededed;
    --magenta: #7e1946;
  }
}

body {
  background: var(--background);
  font-family: var(--font_main);
  height: 100vh;
  width: 100%;
}

main {
  padding: 3.5%;
}

/* Hide the portal div. Do not remove */

nextjs-portal {
  display: none;
}